@import "lms-style-dictionary/build/web/homecentre/tokens.scss";

.sample-detail-page {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: $spacing-3x;
  min-width: 100%;
  position: relative;
  background: #f2f3f1;
}

.sample-detail-page .product-image {
  background-image: url(https://generation-sessions.s3.amazonaws.com/1381ea37ca85ebde26ea960653de4736/img/image@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 375px;
  min-width: 100%;
  position: relative;
}

.sample-detail-page .review-and-rating {
  align-items: flex-start;
  background-color: $color-neutral-100;
  border-radius: $border-radius-1-5x;
  display: flex;
  right: 5%;
  position: absolute;
  top: 330px;
  width: fit-content;
}

.sample-detail-page .rating {
  align-items: flex-start;
  border-color: $color-neutral-300;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: $spacing-2x;
  padding: $spacing-2x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .div-2 {
  align-items: center;
  display: flex;
  gap: $spacing-1x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .text-wrapper-2 {
  color: $color-primary-700;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-semibold;
  letter-spacing: 0;
  line-height: $line-height-tight;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .colored-shukran {
  height: 12px;
  min-width: 12px;
  position: relative;
}

.sample-detail-page .review {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $spacing-2x;
  padding: $spacing-2x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .text-wrapper-3 {
  color: $color-primary-700;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-semibold;
  letter-spacing: 0;
  line-height: $line-height-tight;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .main-icons {
  align-items: flex-start;
  display: flex;
  gap: $spacing-4x;
  justify-content: flex-end;
  right: 5%;
  position: absolute;
  top: $spacing-4x;
  width: fit-content;
}

.sample-detail-page .icon {
  align-items: center;
  background-color: $color-neutral-alpha-400;
  border-radius: $border-radius-10000x;
  display: flex;
  gap: $spacing-2x;
  height: 40px;
  justify-content: center;
  padding: $spacing-1x;
  position: relative;
  width: 40px;
}

.sample-detail-page .location-icon {
  background-image: url(https://generation-sessions.s3.amazonaws.com/1381ea37ca85ebde26ea960653de4736/img/primary---share.svg);
  background-size: 100% 100%;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.sample-detail-page .general-add-to-lists-wrapper {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.sample-detail-page .price-summary {
  align-items: flex-start;
  align-self: stretch;
  background-color: $color-neutral-100;
  display: flex;
  flex-direction: column;
  gap: $spacing-1x;
  padding: $spacing-3x $spacing-4x $spacing-4x;
  position: relative;
}

.sample-detail-page .p {
  align-self: stretch;
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-loose;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.sample-detail-page .frame {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  gap: $spacing-1x;
  position: relative;
}

.sample-detail-page .text-wrapper-4 {
  color: $color-neutral-700;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  position: relative;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .text-wrapper-5 {
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .div-wrapper {
  align-items: center;
  background-color: #d1eae880;
  border-radius: $border-radius-1x;
  display: flex;
  justify-content: center;
  padding: $spacing-0-5x $spacing-1x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .text-wrapper-6 {
  color: $color-green-600;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-tight;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .frame-2 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $spacing-1x;
  justify-content: center;
  position: relative;
}

.sample-detail-page .label-link {
  align-items: center;
  display: flex;
  gap: $spacing-1x;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.sample-detail-page .colored-shukran-wrapper {
  align-items: flex-start;
  display: flex;
  height: 12px;
  position: relative;
  width: 12px;
}

.sample-detail-page .text-wrapper-7 {
  color: $color-neutral-700;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-tight;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .crucial-specific {
  align-items: flex-start;
  background-color: $color-neutral-100;
  display: flex;
  flex-direction: column;
  gap: $spacing-4x;
  padding: $spacing-3x;
  position: relative;
  width: 100%;
}

.sample-detail-page .frame-3 {
  align-items: center;
  align-self: stretch;
  background-color: $color-neutral-100;
  display: flex;
  gap: 12px;
  position: relative;
}

.sample-detail-page .payment-methods {
  left: unset !important;
  min-width: 44px !important;
  position: relative !important;
  top: unset !important;
  width: unset !important;
}

.sample-detail-page .frame-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.sample-detail-page .text-wrapper-8 {
  align-self: stretch;
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.sample-detail-page .text-wrapper-9 {
  align-self: stretch;
  color: $color-neutral-700;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.sample-detail-page .crucial-specific-2 {
  align-items: flex-start;
  background-color: $color-neutral-100;
  display: flex;
  flex-direction: column;
  gap: $spacing-3x;
  padding: $spacing-4x;
  position: relative;
  width: 100%;
}

.sample-detail-page .delivery-strip {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: $spacing-2x;
  position: relative;
}

.sample-detail-page .div-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: $spacing-2x;
  position: relative;
}

.sample-detail-page .frame-5 {
  align-items: flex-start;
  display: flex;
  gap: $spacing-1x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .text-wrapper-10 {
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .text-wrapper-11 {
  color: $color-primary-700;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 222px;
}

.sample-detail-page .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: $color-neutral-100;
  display: flex;
  gap: $spacing-2x;
  position: relative;
}

.sample-detail-page .express-truck-wrapper {
  align-items: flex-start;
  display: flex;
  gap: $spacing-2x;
  padding: $spacing-0-5x $spacing-0x $spacing-0x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .express-truck {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.sample-detail-page .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $spacing-2x;
  position: relative;
}

.sample-detail-page .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $spacing-1x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .text-wrapper-12 {
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 303px;
}

.sample-detail-page .order-within {
  color: $color-neutral-700;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-tight;
  position: relative;
  white-space: nowrap;
  width: 303px;
}

.sample-detail-page .frame-8 {
  align-items: flex-start;
  display: flex;
  padding: $spacing-1x $spacing-0x $spacing-0x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .primary-tick-wrapper {
  align-items: flex-start;
  border: 1px solid;
  border-color: $color-discount-700;
  border-radius: $border-radius-10000x;
  display: flex;
  gap: $spacing-2x;
  padding: $spacing-1x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .primary-tick {
  height: 6px !important;
  min-width: 6px !important;
  position: relative !important;
}

.sample-detail-page .frame-9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: $color-neutral-100;
  display: flex;
  flex-direction: column;
  gap: $spacing-1x;
  position: relative;
}

.sample-detail-page .label-link-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: $spacing-1x;
  position: relative;
}

.sample-detail-page .link-2 {
  color: $color-primary-800;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-semibold;
  letter-spacing: 0;
  line-height: $line-height-tight;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .colour {
  align-items: flex-start;
  align-self: stretch;
  background-color: $color-neutral-100;
  display: flex;
  flex-direction: column;
  gap: $spacing-2x;
  padding: $spacing-3x $spacing-4x;
  position: relative;
}

.sample-detail-page .titles-instance {
  font-family: $font-family-primary !important;
  font-weight: $font-weight-semibold !important;
  line-height: $line-height-regular !important;
}

.sample-detail-page .div-4 {
  align-items: flex-start;
  display: flex;
  gap: $spacing-2x;
  position: relative;
  width: fit-content;
}

.sample-detail-page .frame-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: fit-content;
}

.sample-detail-page .colour-selected {
  height: 60px;
  min-width: 60px;
  position: relative;
}

.sample-detail-page .primary-tick-2-wrapper {
  background-image: url(https://generation-sessions.s3.amazonaws.com/1381ea37ca85ebde26ea960653de4736/img/basic-container-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: $border-radius-0-5x solid;
  border-color: $color-primary-700;
  border-radius: $border-radius-0-5x;
  height: 60px;
  position: relative;
  width: 60px;
}

.sample-detail-page .primary-tick-2 {
  height: 24px !important;
  left: $spacing-4x !important;
  position: absolute !important;
  top: 18px !important;
  width: 24px !important;
}

.sample-detail-page .text-wrapper-13 {
  color: $color-neutral-1100;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-tight;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .basic-container-instance {
  background-color: unset !important;
  background-image: url(https://generation-sessions.s3.amazonaws.com/1381ea37ca85ebde26ea960653de4736/img/basic-container-1@2x.png) !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  height: 60px !important;
  width: 60px !important;
}

.sample-detail-page .text-wrapper-14 {
  color: $color-neutral-800;
  font-family: $font-family-primary;
  font-size: $font-size-2xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-tight;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .streamline-interface-wrapper {
  align-items: flex-start;
  display: flex;
  height: 16px;
  position: relative;
  width: 16px;
}

.sample-detail-page .primary-cross-wrapper {
  background-image: url(https://generation-sessions.s3.amazonaws.com/1381ea37ca85ebde26ea960653de4736/img/group@2x.png);
  background-size: 100% 100%;
  height: 14px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 14px;
}

.sample-detail-page .primary-cross {
  height: 8px !important;
  left: 3px !important;
  position: absolute !important;
  top: 3px !important;
  width: 8px !important;
}

.sample-detail-page .text-wrapper-15 {
  color: $color-neutral-700;
  flex: 1;
  font-family: $font-family-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.sample-detail-page .product-in-detail {
  background-color: $color-neutral-100;
  height: 162px;
  min-width: 100%;
  position: relative;
}

.sample-detail-page .frame-11 {
  align-items: flex-end;
  background-color: $color-neutral-100;
  display: flex;
  left: 0;
  padding: $spacing-1x $spacing-0x $spacing-0x;
  position: absolute;
  top: 0;
  width: 100%;
}

.sample-detail-page .frame-12 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: $border-width-200;
  border-color: $color-primary-600;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: $spacing-2x $spacing-4x;
  position: relative;
}

.sample-detail-page .text-wrapper-16 {
  color: $color-primary-600;
  font-family: $font-family-primary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-loose;
  margin-top: -2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .frame-13 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: $border-width-200;
  border-color: $color-neutral-400;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: $spacing-2x $spacing-0x;
  position: relative;
}

.sample-detail-page .text-wrapper-17 {
  color: $color-neutral-400;
  font-family: $font-family-primary;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-loose;
  margin-top: -2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sample-detail-page .description {
  color: #929391;
  font-family: $font-family-primary;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  left: $spacing-4x;
  letter-spacing: 0;
  line-height: $line-height-regular;
  position: absolute;
  top: 52px;
  width: 335px;
}
