@import "lms-style-dictionary/build/web/homecentre/light-tokens.scss";

.titles {
  align-items: center;
  display: flex;
  gap: $spacing-4x;
  position: relative;
  width: 335px;
}

.titles .title {
  flex: 1;
  position: relative;
}

.titles .text-wrapper {
  color: #929391;
  font-family: "Lato", Helvetica;
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.titles .title-2 {
  color: #242428;
  font-family: "Lato", Helvetica;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.titles .links {
  align-items: center;
  display: flex;
  gap: $spacing-4x;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.titles .link {
  color: #1eb9e3;
  font-family: "Lato", Helvetica;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.titles .type-regular {
  color: #242428;
  font-family: "Lato", Helvetica;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  white-space: nowrap;
}

.titles .type-with-attributes {
  align-items: flex-start;
  display: flex;
  gap: $spacing-1x;
}

.titles .type-small {
  color: #242428;
  font-family: "Lato", Helvetica;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: $line-height-regular;
  margin-top: -1px;
  white-space: nowrap;
}

.titles .type-0-regular {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: $line-height-loose;
}

.titles .type-0-with-attributes {
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-regular;
  text-align: right;
}

.titles .type-0-small {
  font-size: $font-size-s;
  font-weight: $font-weight-regular;
  line-height: $line-height-regular;
}
