@import "lms-style-dictionary/build/web/homecentre/tokens.scss";

.basic-container {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
}

.basic-container.rounded {
  border-radius: $border-radius-10000x;
}

.basic-container.eight-px.right {
  border-radius: $border-radius-0x $border-radius-2x $border-radius-2x $border-radius-0x;
}

.basic-container.eight-px.top {
  border-radius: $border-radius-2x $border-radius-2x $border-radius-0x $border-radius-0x;
}

.basic-container.sixteen-px.bottom {
  border-radius: $border-radius-0x $border-radius-0x $border-radius-4x $border-radius-4x;
}

.basic-container.sixteen-px.left {
  border-radius: $border-radius-4x $border-radius-0x $border-radius-0x $border-radius-4x;
}

.basic-container.sixteen-px.everywhere {
  border-radius: $border-radius-4x;
}

.basic-container.four-px.right {
  border-radius: $border-radius-0x $border-radius-1x $border-radius-1x $border-radius-0x;
}

.basic-container.two-px-default.right {
  border-radius: $border-radius-0x $border-radius-0-5x $border-radius-0-5x $border-radius-0x;
}

.basic-container.bottom.two-px-default {
  border-radius: $border-radius-0x $border-radius-0x $border-radius-0-5x $border-radius-0-5x;
}

.basic-container.eight-px.left {
  border-radius: $border-radius-2x $border-radius-0x $border-radius-0x $border-radius-2x;
}

.basic-container.top.four-px {
  border-radius: $border-radius-1x $border-radius-1x $border-radius-0x $border-radius-0x;
}

.basic-container.eight-px.bottom {
  border-radius: $border-radius-0x $border-radius-0x $border-radius-2x $border-radius-2x;
}

.basic-container.bottom.four-px {
  border-radius: $border-radius-0x $border-radius-0x $border-radius-1x $border-radius-1x;
}

.basic-container.sixteen-px.top {
  border-radius: $border-radius-4x $border-radius-4x $border-radius-0x $border-radius-0x;
}

.basic-container.everywhere.four-px {
  border-radius: $border-radius-1x;
}

.basic-container.eight-px.everywhere {
  border-radius: $border-radius-2x;
}

.basic-container.two-px-default.left {
  border-radius: $border-radius-0-5x $border-radius-0x $border-radius-0x $border-radius-0-5x;
}

.basic-container.everywhere.two-px-default {
  border-radius: $border-radius-0-5x;
}

.basic-container.sixteen-px.right {
  border-radius: $border-radius-0x $border-radius-4x $border-radius-4x $border-radius-0x;
}

.basic-container.two-px-default.top {
  border-radius: $border-radius-0-5x $border-radius-0-5x $border-radius-0x $border-radius-0x;
}

.basic-container.left.four-px {
  border-radius: $border-radius-1x $border-radius-0x $border-radius-0x $border-radius-1x;
}
